.cart{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 50px;
}
.cart img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.cart p{
    margin-right: 20px;
}

@media screen and (max-width:767px) {
    .cart{
        justify-content: space-around;
        margin-left: 20px;
    }
    .cart img{
        margin-right: 8px;
    }
    .cart p{
        margin-right: 8px;
    }
}